div{
    width: 200px;
    height: 200px;
    margin: 30px auto;
    animation-name: gravity;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-iteration-count: 5; */
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

div img{
    animation: 2s linear infinite rotate;
}

@keyframes gravity{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(400px);
    }
}


@keyframes rotate{
    100%{
        transform: rotateZ(360deg);
    }
}