div{
    width: 80vw;
    height: 30px;
    margin: 10px;
    background-color: darkolivegreen;
    border: 2px solid black;
    border-radius: 10px;
    animation-name: loader;
    animation-duration: 3s;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
}

@keyframes loader{
    from{
        width: 10px;

    }
    to{
        width: 80vw;
    }

}

div:nth-of-type(1){
    animation-timing-function: ease-in;
}
div:nth-of-type(2){
    animation-timing-function: ease-out;
}
div:nth-of-type(3){
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div:nth-of-type(4){
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}