div{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    background-color: palevioletred;
    animation-name: swing;
    animation-duration: 4s ;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
    /* animation-direction: reverse; */
    animation-direction: alternate;
}

/* @keyframes swing{
    from{
        height: 30px;
    }
    to{
         height: 500px;
    }
} */


@keyframes swing{
    0%{
        background-color: cadetblue;
        height: 30px;
    }

    25%{
        height: 100px;
        background-color: chocolate;
        width: 350px;
    }
    50%{
        height: 200px;
        width: 400px;
        background-color: olivedrab;
    }
    75%{
        height: 600px;
        width: 300px;
        background-color: palevioletred;
    }
    100%{
        height: 700px;
        width: 250px;
        background-color: lightgreen;
    }


}